@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sedgwick+Ave+Display&display=swap');

:root {
    --blue-main: #114F8D;
    --blue-light: #0D78BD;
    --same-heigth: 25px;
    /* background-image: linear-gradient( #76FFDE, #ABFF69); */
}
a {
    text-decoration: none;
}
body {
    height: 200vh;
}
/*Header*/
header .nav-menu {
    display: none;
}
nav ul {
    display: flex;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    position: fixed;
}
header li a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/*LOGOS*/
header .logocontainer {
    display: flex;
    height: inherit;
    justify-content: space-between;
}
.logocontainer .cs-logo {
    background-image: linear-gradient( #76FFDE, #ABFF69);
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 30px;
}
.logocontainer .superatelogo {
    background-image: url('imgs/superatelogo.png');

}
.logo {
    background-position: center;
    background-size: cover;
    padding: 0 35px;
}
header .nav-menu-small {
    position: fixed;
    background-color: var(--blue-main);
    width: 100%;
}
/*Nav-Menu - Small*/
header .nav-menu-small ul {
    background-color: inherit;
    top: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
header .nav-menu-small ul li {
    padding: 10px 0;
    transition: all .2s ease-out;
}
header .nav-menu-small ul li:hover {
    background-color: var(--blue-light);
}
header .nav-menu-small ul a {
    color: #fff;
    font-family: 'Open Sans', ;
}

@media only screen and (min-width: 768px) {
    /*HEADER - Menu BigScreens*/
    header .nav-menu {
        display: block;
    }
    header .nav-menu-small {
        display: none;
    }
    header .nav-menu ul {
        justify-content: flex-end;
        align-items: center;
        background-color: var(--blue-main);
    }

    header li a {
        display: block;
        padding: var(--same-heigth);
        transition: all .2s ease-in-out;
    }
    header li a:hover {
        background-color: var(--blue-light);
    }
    /*LOGOS*/
    header .logocontainer {
        position: absolute;
        height: inherit;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .logocontainer .cs-logo {
        background-image: linear-gradient( #76FFDE, #ABFF69);
        font-family: 'Sedgwick Ave Display', cursive;
        text-align: center;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        font-size: 30px;
    }
    .logocontainer .superatelogo {
        background-image: url('imgs/superatelogo.png');
    }
    .logo {
        background-position: center;
        background-size: cover;
        width: 100%;
        padding: 0 20px;
    }

}