@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sedgwick+Ave+Display&display=swap');
/* font-family: 'Open Sans', sans-serif; */
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
    padding: 0;
}
:root {
    --blue-main: #114F8D;
    --blue-light: #0D78BD;
}

/*User position*/
header .nav-menu-small ul li:nth-child(1), .nav-menu ul li:nth-child(2){
    background-color:var(--blue-light);
}


/*Section Main-Title*/
.main-title {
    background-image: linear-gradient(#76FFDE, #ABFF69);
    padding: 6rem 0px 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title h1,p {
    font-family: 'Sedgwick Ave Display', cursive;;
}
.main-title h1 {
    font-size: 45px;
}
.main-title p {
    margin-top: -1rem;
    font-size: 25px;
}

/*William Phrases*/
.phrases {
    height: 80px;    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.phrases .ws-phrases {
    background-image: url('imgs/wshakespearephrases.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.phrases .ws-middle {
    background-image: url('imgs/wsphrasesmiddle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Stories-Section*/
.stories h2 {
    text-align: center;
    background-color: red;
}

.stories .widget-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.widget-container .story-widget {
    border: 2px solid black;
}