@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Open Sans', sans-serif; */
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
    padding: 0;
}
:root {
    --blue-main: #114F8D;
    --blue-light: #0D78BD;
}
h1::selection, p::selection {
    color: var(--blue-light);
    background-color: #ABFF69;
}

/*User position*/
header .nav-menu-small ul li:nth-child(1), .nav-menu ul li:nth-child(2){
    background-color:var(--blue-light);
}


/*Section Main-Title*/
.main-title {
    background-image: linear-gradient(#76FFDE, #ABFF69);
    padding: 6rem 0px 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title h1, .main-title p {
    font-family: 'Sedgwick Ave Display', cursive;;
}
.main-title h1 {
    font-size: 45px;
}
.main-title p {
    margin-top: -1rem;
    font-size: 25px;
}

/*William Phrases*/
.phrases {
    height: 80px;    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.phrases .ws-phrases {
    background-image: url('imgs/wshakespearephrases.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.phrases .ws-middle {
    background-image: url('imgs/wsphrasesmiddle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Stories-Section*/
.stories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(171px, 1fr));
    margin-top: 3rem;
    padding: 40px 10px;
    gap: 4rem 20px;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.stories-grid .story-card {
    display: flex;
    position: relative;
    -webkit-box-align: end;
          align-items: flex-end;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 15px rgba(170, 170, 170, 0.46);
        box-shadow: 10px 10px 15px rgba(170, 170, 170, 0.46);
    min-height: 60%;
    margin-top: 70px;
    -webkit-transition: .3s ease all;
        transition: .3s ease all;
}


.stories-grid .story-card img {
    vertical-align: top;
    border-radius: 10px;
    position: absolute;
    top: -100px;
    width: calc(100% - 40px);
    max-height: 12em;
    object-fit: cover;
}

/* Cards-Info */
.stories-grid .story-card .story-info {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 20% 80%;
    margin-top: 20px;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
.story-card .story-info .author-photo {
    border-radius: 100%;
    border: 1px solid #7f7f7f;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url('imgs/svgs_icons/user-solid.svg');
    background-position: center;
}
.story-card .story-info .author-info {
    line-height: 5px;
}
.author-info p:nth-child(1) {
    line-height: 20px;
}
.author-info p:nth-last-child(1) {
    font-size: 12px;
    font-weight: 200;
}