@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sedgwick+Ave+Display&display=swap');

:root {
    --blue-main: #114F8D;
}

/*Header*/
header {
    background-color: var(--blue-main);
    width: 100%;
    height: 60px;
    position: fixed;
}

header .logocontainer {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.logocontainer .cs-logo {
    display: flex;
    background-image: linear-gradient( #76FFDE, #ABFF69);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logocontainer .superatelogo {
    background-image: url('imgs/superatelogo.png');
}

/* logo */
.logo {
    background-position: center;
    background-size: cover;
    height: inherit;
    width: 90px;
    padding: 0 10px;
}

/*NAV*/
.nav-menu {
    margin-top: -16px;
    transition: all .3s ease-in;
}
.nav-menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.nav-menu ul li{ 
    /* height: inherit; */
    background-color: var(--blue-main);
    text-align: center;
    padding: 10px;
}
.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
